.m-sitelogo {
  margin: 0;
  letter-spacing: 4px;
  display: flex;
  & > * {
    display: block;
    @extend .prefuse;
    font-size: 50px;
    text-shadow:
      // 0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,0 0 3px #6b3906,
      -3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,-3px 0 2px #6b3906,
      3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,3px 0 2px #6b3906,
      0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,0 -3px 2px #6b3906,
      0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,0 3px 2px #6b3906,
      3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,
      -3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,-3px 3px 2px #6b3906,
      3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,3px -3px 2px #6b3906,
      3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906,3px 3px 2px #6b3906;
  }
  &--yellow {
    color: #ffe200;
    transform: rotate(7deg);
  }
  &--lightblue {
    color: #65c6e6;
  }
  &--orange {
    color: #f18c24;
    transform: rotate(-15deg);
  }
  &--teal {
    color: #41baa9;
    transform: rotate(15deg);
  }
  &--blue {
    color: #1b97d7;
  }
  &--pink {
    color: #f2a7c8;
  }
  &--red {
    color: #e82a34;
  }
}